*{
	font-family: 'Lato', sans-serif;
	font-size: 103%;
}
.navbar{
	margin-bottom: 0;
}
.topo{
	padding-top:30px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover; 
};	
.topo h1{
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 65px;
}
.mensagem{
	padding: 220px 0;
}
.divide{
	width: 400px;
}

.bloco{
	padding: 50px 70px;
	font-size: 18px;
}
.bloco h2{
	margin-bottom: 30px;
}
.bloco:nth-child(odd){
	background-color: #fafafa;
	border-bottom: solid 2px #eee;
	border-top: solid 2px #eee;
}
.divide-bloco{
	width: 200px;
	margin:20px 0 40px 0;
	border: solid 2px #eee;
}
.rodape{
	padding: 110px 70px;
	font-size: 18px;
	height: 265px;
	background: url(../img/banner-bg.jpg) no-repeat center center; 	
	background-size: cover; 
}
.rodape h2{
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 40px;
	color: #f8f8f8;
}